.big{
  padding: 0.6rem 1.6rem !important;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cta-section h1{
  font-size: 5rem;
  line-height: 1.2;
  color: var(--veryDarkBlue);
}

.cta-section p{
  color: var(--gray);
  font-size: 1.1rem;
  margin-bottom: 1.75rem;
  word-wrap: break-word;
}


.img-section img{
   /* transform: translate(200px, 80px); */
   height: 100%;
   display: block;
}
